<div class="page page-uikit-cards">

    <!-- card colors -->
    <div layout-gt-sm="row">
        <div flex-gt-sm="33">
            <!-- card white -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Card White</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>This is a simple card. It comes in different material colors. You can use these cards to specify
                    small bits of information.</p>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Call To Action</md-button>
                </md-card-actions>
            </md-card>

            <!-- card primary -->
            <md-card md-colors="::{background: 'primary'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Card Primary</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>This is a simple card. It comes in different material colors. For eg: To make it primary, use
                        <code>md-colors</code> directive and specify background color.</p>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Call To Action</md-button>
                </md-card-actions>
            </md-card>

        </div> <!-- end flex -->

        <div flex-gt-sm="33">
            <!-- card accent -->
            <md-card md-colors="::{background: 'accent'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Card Accent</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>This is a simple card. It comes in different material colors. You can use these cards to specify
                    small bits of information.</p>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Call To Action</md-button>
                </md-card-actions>
            </md-card>

            <!-- card warn -->
            <md-card md-colors="::{background: 'warn'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Card Warn</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>This is a simple card. It comes in different material colors. For eg: To make it like warn, use
                        <code>md-colors</code> directive and specify background color.</p>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Call To Action</md-button>
                </md-card-actions>
            </md-card>

        </div> <!-- end flex -->

        <div flex-gt-sm="33">
            <!-- card Dark -->
            <md-card md-colors="::{background: 'blue-grey-800'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Card Dark</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>This is a simple card. It comes in different material colors. You can use these cards to specify
                    small bits of information.</p>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Call To Action</md-button>
                </md-card-actions>
            </md-card>
            <!-- card green -->
            <md-card md-colors="::{background: 'green-700'}">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Card Green</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>This is a simple card. It comes in different material colors. For eg: To make it green, apply
                        <code>md-colors</code> directive with <code>green-700</code> color to specify background.</p>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button>Call To Action</md-button>
                </md-card-actions>
            </md-card>

        </div> <!-- end flex -->
    </div> <!-- end row -->
    <div layout-gt-sm="row">
        <div flex-gt-sm="33">
            <md-card>
                 <img ng-src="images/demo-1.jpg" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Card with Image</span>
                        <span class="md-caption">Some short description</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>This is a simple card. It comes in different material colors. You can use these cards to specify
                    small bits of information.</p>
                </md-card-content>
                <md-divider></md-divider>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button class="md-accent">See More</md-button>
                </md-card-actions>
            </md-card>
        </div>

        <div flex-gt-sm="33">
            <md-card>
                <md-card-header>
                    <md-card-avatar>
                        <img class="md-user-avatar" src="images/admin.jpg"/>
                    </md-card-avatar>
                    <md-card-header-text>
                        <span class="md-title">User</span>
                        <span class="md-subhead">subhead</span>
                    </md-card-header-text>
                </md-card-header>
                <img ng-src="images/demo-2.jpg" class="md-card-image" alt="Washed Out">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-title">Card with image and title head</span>
                        <span class="md-caption">Some short description</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>
                        Lorem ispum dolar sit amet consector adipising. You can use these cards to specify small bits of information.
                    </p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
