<div class="page page-ui-tabs">

    <div layout-gt-sm="row">
        <div flex-gt-sm="100">
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Dynamic Height Tabs</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <md-tabs md-dynamic-height md-border-bottom>
                        <md-tab label="one">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab One</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="two">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab Two</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat.</p>
                            </md-content>
                        </md-tab>
                        <md-tab label="three">
                            <md-content class="md-padding">
                                <h1 class="md-display-2">Tab Three</h1>
                                <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
                            </md-content>
                        </md-tab>
                    </md-tabs>
                </md-card-content>

            </md-card>

            <!-- bottom align tabs -->

            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Bottom Align Tabs</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content layout-padding>
                    <md-tabs md-dynamic-height md-border-bottom md-align-tabs="bottom">
                        <md-tab id="tab1">
                            <md-tab-label>Item One</md-tab-label>
                            <md-tab-body>
                                <p>Laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget suspendisse vitae hendrerit erat.</p>
                            </md-tab-body>
                        </md-tab>
                        <md-tab id="tab2">
                            <md-tab-label>Item Two</md-tab-label>
                            <md-tab-body>
                                <p>Laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget suspendisse vitae hendrerit erat.</p>
                            </md-tab-body>
                        </md-tab>
                    </md-tabs>
                </md-card-content>

            </md-card>

        </div>
    </div>

</div>
