<div class="page page-uikit-typography">

    <div layout-gt-sm="row">

        <div flex-gt-sm="50">
            <!-- page headings -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Page Headings</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <h1>h1. First Header</h1>
                    <p class="filler w100"></p>
                    <p class="filler w80"></p>
                    <h2>h2. Second Header</h2>
                    <p class="filler w100"></p>
                    <p class="filler w80"></p>
                    <h3>h3. Third Header</h3>
                    <p class="filler w100"></p>
                    <p class="filler w80"></p>
                    <h4>h4. Fourth Header</h4>
                    <p class="filler w100"></p>
                    <p class="filler w80"></p>
                    <h5>h5. Fifth Header</h5>
                    <p class="filler w100"></p>
                    <p class="filler w80"></p>
                    <h6>h6. Sixth Header</h6>
                    <p class="filler w100"></p>
                    <p class="filler w80"></p>
                </md-card-content>
            </md-card>

            <!-- inline texts -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Inline Texts</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>You can use the mark tag to <mark>highlight</mark> text or use <code class="md-highlight">md-highlight.</code></p>
                    <p><del>This line of text is meant to be treated as deleted text.</del></p>
                    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                    <p><u>This line of text will render as underlined</u></p>
                    <p><small>This line of text is meant to be treated as fine print.</small></p>
                    <p>The following snippet of text is <strong>rendered as bold text.</strong></p>
                    <p>The following snippet of text is <em>rendered as italicized text</em></p>
                </md-card-content>
            </md-card>

            <!-- blockquotes -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Blockquotes</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <blockquote>
                        <p>Ea nam error audiam, oratio nostrud pro id vulputate.</p>
                    </blockquote>
                    <blockquote>
                        <p>Ea nam error audiam, oratio nostrud pro id vulputate.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                    <blockquote class="blockquote-reverse">
                        <p>Using class <code>.blockquote-reverse</code>. Ea nam error audiam.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </md-card-content>
            </md-card>

        </div>

        <div flex-gt-sm="50">
            <!-- heading styles -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Heading Styles</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <h1 class="md-display-4">Display 4</h1>
                    <h2 class="md-display-3">Display 3</h2>
                    <h3 class="md-display-2">Display 2</h3>
                    <h4 class="md-display-1">Display 1</h4>
                    <div class="md-headline">The Headline</div>
                    <div class="md-title">Title Heading</div>
                    <div class="md-subhead">Subhead</div>


                </md-card-content>
            </md-card>

            <!-- lead para -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Lead Paragraph</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p class="md-lead">I am a lead paragraph. Just add <code class="md-highlight">.md-lead</code> to any paragraph element. Nuan set amil keti labitur gubergren.</p>
                    <p>Ea nam error audiam, oratio nostrud pro id. Ut sea cetero labitur gubergren, munere maiorum nostrum vim ut, te feugiat vulputate cum. Choro volumus sapientem te sed, legimus splendide ad nec.</p>
                </md-card-content>
            </md-card>

            <!-- type classes -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Type classes</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p><span class="text-uppercase">Text uppercase</span> using <code class="md-highlight">.text-uppercase</code> class.</p>
                    <p><span class="text-lowercase">Text lowercase</span> using <code class="md-highlight">.text-lowercase</code> class.</p>
                    <p><span class="text-lowercase">Text lowercase</span> using <code class="md-highlight">.text-lowercase</code> class.</p>
                    <p><span class="text-bold">Text bold</span> using <code class="md-highlight">.text-bold</code> class.</p>
                    <p><span class="text-bolder">Text bolder</span> using <code class="md-highlight">.text-bolder</code> class.</p>
                    <p><span class="text-normal">Text normal</span> using <code class="md-highlight">.text-normal</code> class.</p>
                </md-card-content>
            </md-card>

            <!-- pre formatted class -->
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead text-uppercase">Codes</span>
                        <md-divider></md-divider>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p>Keyboards: <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd></p>
                    <pre style="overflow-x: scroll">A pre formatted text.
                        It looks same as we type in html code.</pre>
                </md-card-content>
            </md-card>

        </div>
    </div>

</div>
