<div class="page page-search" layout-gt-sm="row">

    <md-card flex-gt-sm="100" layout-margin>

        <md-card-content>

            <form>
                <md-input-container class="md-block">
                    <input type="text" placeholder="Type keywords..."/>
                </md-input-container>
            </form>

            <div>
                <h3 style="margin-bottom: 0"><a href="#n">Mauris at pellentesque volutpat</a></h3>
                <div class="md-caption" md-colors="{color: 'green-600'}">http://example.com</div>
                <p style="margin-top: .4rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <md-divider></md-divider>
            </div>

            <div>
                <h3 style="margin-bottom: 0"><a href="#n">Sodales nisi nec condimentum Mauris convallis</a></h3>
                <div class="md-caption" md-colors="{color: 'green-600'}">http://example.com</div>
                <p style="margin-top: .4rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <md-divider></md-divider>
            </div>

            <div>
                <h3 style="margin-bottom: 0"><a href="#n">Web Design App</a></h3>
                <div class="md-caption" md-colors="{color: 'green-600'}">http://example.com</div>
                <p style="margin-top: .4rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                <md-divider></md-divider>
            </div>

            <div>
                <h3 style="margin-bottom: 0"><a href="#n">Responsive Wordpress Theme</a></h3>
                <div class="md-caption" md-colors="{color: 'green-600'}">http://example.com</div>
                <p style="margin-top: .4rem">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>

            <ul class="md-pagination">
                <li><a href="#n">Previous</a></li>
                <li><a href="#n">1</a></li>
                <li><a href="#n" class="selected">2</a></li>
                <li><a href="#n">3</a></li>
                <li><a href="#n">4</a></li>
                <li><a href="#n">5</a></li>
                <li><a href="#n">6</a></li>
                <li><span class="dots">...</span></li>
                <li><a href="#n">Next</a></li>
            </ul>

        </md-card-content>

    </md-card>


</div>
