<md-toolbar layout="column" class="md-tall" layout-align="none center">
    <a href="/" class="brand-logo">
        <sup class="ion-ios-radio-button-on icon md-caption" md-colors="::{color: 'orange-100'}" style="font-size: 10px"></sup>
        Degree
    </a>
    <div class="profile">
        <figure>
            <img src="images/admin.jpg" alt="admin">
            <span class="isonline"></span>
        </figure>
		<div class="group">
			<h5 class="name">Andy Mandy</h5>
			<small>Graphic Designer</small>
		</div>
    </div>
</md-toolbar>

<nav class="site-nav" highlight-sidenav highlight-active>
    <p class="md-caption" md-colors="::{color: 'grey-400'}">Main</p>
    <ul class="nav md-body-1">
        <li>
            <a href="#/dashboard"  md-ink-ripple><md-icon class="ion-ios-cube first"></md-icon>Dashboard</a>
        </li>
        <li>
            <a href="#/email/inbox" md-ink-ripple><md-icon class="ion-ios-mail first"></md-icon>Email</a>
        </li>
        <li>
            <a href="#/calendar" md-ink-ripple><md-icon class="ion-md-calendar first"></md-icon>Calendar</a>
        </li>
    </ul>

    <p class="md-caption" md-colors="::{color: 'grey-400'}">Components</p>
    <ul class="nav md-body-1">
        <li>
            <a href="#/ui" md-ink-ripple>
                <md-icon class="ion-ios-flask first"></md-icon>
                UI Kit
                <md-icon class="ion-ios-arrow-dropleft last"></md-icon>
            </a>
            <ul class="inner-drop">
				<li><a href="#/ui/buttons" md-ink-ripple>Buttons</a></li>
				<li><a href="#/ui/typography" md-ink-ripple>Typography</a></li>
				<li><a href="#/ui/cards" md-ink-ripple>Cards</a></li>
                <li><a href="#/ui/grids" md-ink-ripple>Grids</a></li>
                <li><a href="#/ui/icons" md-ink-ripple>Icons</a></li>
				<li><a href="#/ui/tabs" md-ink-ripple>Tabs</a></li>
				<li><a href="#/ui/modals" md-ink-ripple>Modals</a></li>
                <li><a href="#/ui/progress" md-ink-ripple>Progress</a></li>
				<li><a href="#/ui/extras" md-ink-ripple>Extras</a></li>
			</ul>
        </li>
        <li>
            <a href="#/tables" md-ink-ripple>
                <md-icon class="ion-ios-list-box first"></md-icon>
                Tables
            </a>
        </li>
        <li>
            <a href="#/charts" md-ink-ripple>
                <md-icon class="ion-ios-pie first"></md-icon>
                Charts
                <md-icon class="ion-ios-arrow-dropleft last"></md-icon>
            </a>
            <ul class="inner-drop">
				<li><a href="#/charts/c3" md-ink-ripple>C3</a></li>
				<li><a href="#/charts/sparklines" md-ink-ripple>Sparklines</a></li>

			</ul>
        </li>
        <li>
            <a href="#/forms" md-ink-ripple>
                <md-icon class="ion-ios-bulb first"></md-icon>
                Forms
                <md-icon class="ion-ios-arrow-dropleft last"></md-icon>
            </a>
            <ul class="inner-drop">
				<li><a href="#/forms/elements" md-ink-ripple>Elements</a></li>
                <li><a href="#/forms/validation" md-ink-ripple>Validation</a></li>
                <li><a href="#/forms/uploader" md-ink-ripple>File Uploader</a></li>
			</ul>
        </li>
        <li>
            <a href="#/pages" md-ink-ripple>
                <md-icon class="ion-ios-copy first"></md-icon>
                Pages
                <md-icon class="ion-ios-arrow-dropleft last"></md-icon>
            </a>
            <ul class="inner-drop">
				<li><a href="#/pages/signin" md-ink-ripple>Sign In</a></li>
				<li><a href="#/pages/register" md-ink-ripple>Register</a></li>
                <li><a href="#/pages/forget-pass" md-ink-ripple>Forget Pass</a></li>
                <li><a href="#/pages/404" md-ink-ripple>404</a></li>
                <li><a href="#/pages/search" md-ink-ripple>Search</a></li>
                <li><a href="#/pages/invoice" md-ink-ripple>Invoice</a></li>
			</ul>
        </li>
    </ul>
</nav>
