<div class="page page-charts-c3" layout-gt-sm="row"  ng-controller="c3ChartDemoCtrl">

    <div flex-gt-sm="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Line Chart</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartline" config="lineconfig"></c3-chart>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Step Chart</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartstep" config="stepconfig"></c3-chart>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Area Chart</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartarea" config="areaconfig"></c3-chart>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Pie Chart</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartpie" config="pieconfig"></c3-chart>
            </md-card-content>
        </md-card>


    </div>

    <div flex-gt-sm="50">
        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Spline Chart</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartspline" config="splineconfig"></c3-chart>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Bar Chart</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartbar" config="barconfig"></c3-chart>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Stacked Bar Chart</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartstackedbar" config="stackedbarconfig"></c3-chart>
            </md-card-content>
        </md-card>

        <md-card>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-subhead text-uppercase">Donut Chart</span>
                    <md-divider></md-divider>
                </md-card-title-text>
            </md-card-title>

            <md-card-content>
                <c3-chart id="c3chartdonut" config="donutconfig"></c3-chart>
            </md-card-content>
        </md-card>




    </div>


</div>
